Cython==3.0.12
librosa==0.11.0
matplotlib==3.10.0
numpy==2.0.2
phonemizer==3.3.0
scipy==1.14.1
torch==2.6.0+cu124
torchvision==0.21.0+cu124
unidecode==1.3.6
tensorboard==2.18.0
onnx==1.17.0
onnxruntime==1.21.1
gradio==5.26.0
pyopenjtalk==0.4.1

# Cython==3.0.2
# librosa==0.10.1
# matplotlib==3.7.2
# numpy==1.24.4
# phonemizer==3.2.1
# scipy==1.11.2
# # torch==2.0.1
# # torchaudio==2.0.2
# # torchvision==0.15.2
# Unidecode==1.3.6
# tensorboard==2.14.0
# onnx==1.14.1
# onnxruntime==1.15.1
# gradio

# # !apt-get install espeak
# # !pip install Cython librosa matplotlib numpy phonemizer scipy torch torchvision
# # !pip install Unidecode tensorboard onnx onnxruntime gradio phonemizer
# # !pip install pyopenjtalk
# # !pip install unidecode
